<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhtv.eventqa">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.UserSigninActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.UserSignupActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.QRScannerActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity android:name=".activity.PostQuestionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activity.DeepLinkActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:noHistory="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://event.hhtv.vn/detail-event-page” -->
                <data android:scheme="http"
                    android:host="event.hhtv.vn"
                    android:pathPrefix="/detail-event-page" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "eventqa://detail-event-page” -->
                <data android:scheme="eventqa"
                    android:host="detail-event-page" />

            </intent-filter>
        </activity>
    </application>

</manifest>
